*{
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #efe7e5;
  --text-color: #000;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.NavBarNutrition {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;              
  align-items: center;
  justify-content: space-between; 
  padding: 1rem 2rem;
  z-index: 1000;    
}

.Logo-Nutrition img {
  height: 60px;
  width: auto;
  object-fit: contain;

}

.menu-items {
  display: flex;           
  align-items: center;     
  gap: 5rem;      
  transition: all 0.3s ease;  
}

.menu-items a {
  color: var(--text-color);
  text-decoration: none;
  font-family: inherit;
  font-weight: 500;
  transition: color 0.3s;
}

.menu-items a:hover {
  color: #e67e22;
}

.cart-link{
  position: relative;
  display: inline-block;
}

#cart-badge{
  position: absolute;
  top: -8px;
  right: -8px;

  width: 15px;
  height: 15px;

  border-radius: 50%;

  background: #e67e22;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  font-weight: bold;
}

/*-----VERSION MOBILE-----*/
.Menu-Hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 18px;
  cursor: pointer;
}

.Menu-Hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  background: var(--text-color);
  border-radius: 2px;
  transition: all 0.3s ease;
  z-index: 2;
}

/* Animation burger vers croix */
.Menu-Hamburger.active span:nth-child(1) {
  transform: translateY(7.5px) rotate(45deg);
}
.Menu-Hamburger.active span:nth-child(2) {
  opacity: 0;
}
.Menu-Hamburger.active span:nth-child(3) {
  transform: translateY(-7.5px) rotate(-45deg);
}

.Dark-Light-Mode {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.Dark-Light-Mode:hover {
  transform: scale(1.2);
}

/* --- SECTION FORMULAIRE --- */
h2 {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #e67e22;
}

#order-form {
  max-width: 500px;
  margin: auto;
  background: var(--background-color);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 15px var(--text-color);

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Inputs */
#order-form input {
  padding: 0.8rem;
  border-radius: 8px;
  border: 1px solid var(--text-color);
  font-family: inherit;
  font-size: 1rem;
  background: transparent;
  color: var(--text-color);
  outline: none;
  transition: 0.3s;
}

#order-form input:focus {
  border-color: #e67e22;
  box-shadow: 0 0 5px #e67e22;
}

/* Bouton */
#order-form button {
  margin-top: 1rem;
  padding: 0.8rem;
  border-radius: 8px;
  border: none;
  background: #e67e22;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

#order-form button:hover {
  background: #cf711f;
  transform: translateY(-2px);
}

/* --- PANIER --- */
#cart {
  max-width: 500px;
  margin: 2rem auto;
  padding: 1.5rem;
  border-radius: 15px;
  background: var(--background-color);
  box-shadow: 0 4px 15px var(--text-color);
}

#cart p {
  margin: 0.5rem 0;
}

#cart strong {
  display: block;
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #e67e22;
}

.DeleteButton {
  background-color: #ff0000d5;
  border-color: rgba(255, 0, 0, 0.586);
  border-radius: 3px;
  cursor: pointer;
  margin: 10px;
  padding: 5px;
}

.DeleteButton img {
  width: 24px;
  height: 24px;
}

.decreaseincrease {
  margin: 5px;
  padding: 15px;
  background-color: #e67e22;
  border: none;
  border-radius: 3px;
  cursor: pointer;

}

.order-message {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #27ae60;
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
  font-weight: bold;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 9999;
}

.order-message.show {
  opacity: 1;
  visibility: visible;
}

.order-messageEmptyCart {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #ae2727;
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
  font-weight: bold;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 9999;
}

.order-messageEmptyCart.show {
  opacity: 1;
  visibility: visible;
}

/* RESPONSIVE POUR MOBILE */
@media (max-width: 721px) {
  #order-form {
    width: 90%;
    padding: 1.5rem;
  }

  #cart {
    width: 90%;
  }

  h2 {
    font-size: 1.6rem;
  }
}
